#experience-grid {
    @apply max-w-[700px] mx-auto flex flex-col md:flex-row justify-center;
}

#experience-tabs {
    @apply flex md:flex-col w-full md:w-max overflow-auto md:overflow-visible items-start relative mt-3;
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

@media (min-width: 768px) {
    #experience-tabs {
        -webkit-mask-image: none;
        mask-image: none;
    }
}

#experience-info {
    @apply w-full md:ml-8 relative;
}

#experience-tabs::-webkit-scrollbar {
    height: 3px;
}

.experience-tab-button {
    @apply px-5 py-2 relative duration-1000 transition-colors w-full whitespace-nowrap text-left text-brutalist-fg-muted dark:text-brutalist-fg-muted-dark font-mono uppercase tracking-wide text-sm border-b-2 border-transparent;
}

.experience-tab-button:focus,
.experience-tab-button[aria-selected=true] {
    @apply ring-0 text-brutalist-accent border-brutalist-accent;
}

.experience-tab-button > span {
    @apply text-highlight focus-reset;
}

.experience-tab-selector {
    @apply hidden;
}

.experience-info-container {
    @apply absolute inline-block top-0 left-0;
}

.experience-info-container .experience-title {
    @apply mb-0;
}

.experience-title .company-name {
    @apply text-brutalist-accent;
}

.company-name a {
    @apply text-highlight;
}

.experience-info-container .job-description {
    @apply mt-4 list-none ml-0;
}

.job-description > li {
    @apply pl-6 relative;
}

.job-description > li::before {
    content: "\2014";
    @apply absolute left-0 text-brutalist-accent;
}

@keyframes exp-desc-fade-out {
    0% {
        position: static;
        transform: translateY(0);
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    100% {
        position: absolute;
        top: 0;
        transform: translateY(2rem);
        opacity: 0;
    }
}

@keyframes exp-desc-fade-in {
    0% {
        position: absolute;
        top: 0;
        transform: translateY(2rem);
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        position: static;
        transform: translateY(0);
        opacity: 100%;
    }
}
