main {
    @apply bg-brutalist-bg dark:bg-brutalist-fg transition-all ease-in duration-150;
}

#page {
    @apply antialiased relative bg-brutalist-bg dark:bg-brutalist-fg;
}

#menu-blur-layer {
    @apply w-screen h-screen fixed top-0 left-full z-30 backdrop-blur-sm bg-white bg-opacity-0 md:hidden;
}

section:nth-of-type(2) {
    @apply mt-[100vh] mb-16 md:mb-[4.5rem] pt-16 md:pt-[4.5rem] border-t-2 border-brutalist-border dark:border-brutalist-bg;
}

section:not(:first-of-type):not(:last-of-type):not(:nth-of-type(2)) {
    @apply my-16 md:my-[4.5rem] border-t-2 border-brutalist-border dark:border-brutalist-bg;
}

section:nth-of-type(n+3) {
    @apply py-16 md:py-[4.5rem];
}

section:last-of-type {
    @apply pb-0 md:pb-0 mb-0 md:mb-0 border-t-2 border-brutalist-border dark:border-brutalist-bg;
}

#home {
    @apply h-screen fixed top-0 right-0 left-0 bg-brutalist-bg dark:bg-brutalist-fg max-w-[100vw];
    z-index: -9000;
}

#home-content {
    @apply flex flex-col h-full justify-center;
}

#home-content h1,
#home-content h1 > span {
    font-size: clamp(2.25rem, 8vw, 5rem);
    line-height: clamp(2.25rem, 8vw, 5rem);
}

#home-content h1 > span {
    @apply text-brutalist-accent;
}

#home-content p {
    @apply my-10 text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold font-mono normal-case;
}

#about-me-grid {
    @apply grid md:grid-cols-2 md:mt-16 gap-y-10 lg:gap-y-16 2xl:gap-y-20 gap-x-4 md:gap-x-10 2xl:gap-x-16 overflow-x-visible md:text-lg;
}

.skills-flex-container {
    @apply flex flex-wrap justify-evenly gap-x-2 gap-y-2 mt-8;
}
