@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@import "App.css";
@import "buttons/buttons.css";
@import "icons/icons.css";
@import "navigation/navigation.css";
@import "components/components.css";

/* Scrollbar */
@supports selector(::-webkit-scrollbar) {
    /* Width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-brutalist-accent;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-brutalist-fg dark:bg-brutalist-bg;
    }

    @supports (overflow: overlay) {
        html {
            overflow: overlay;
        }
    }

    @supports not (overflow: overlay) {
        ::-webkit-scrollbar {
            background: #6A706E;
        }
    }
}

@supports not selector(::-webkit-scrollbar) {
    html {
        scrollbar-color: #FF4B1F #6A706E;
        scrollbar-width: thin;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,
#root,
#page {
    overflow-x: hidden;
}

:root {
    --header-height: 6rem;
    --header-height-scroll: 4rem;
    --body-height: calc(100vh - var(--header-height));
}

body {
    @apply font-mono;
}

@layer base {
    /* Headings & texts */
    h1, h2, h3, h4, h5, h6, h1 span {
        @apply font-display dark:text-brutalist-bg text-brutalist-fg relative;
    }

    span, p, li, a {
        @apply font-mono dark:text-brutalist-fg-muted-dark text-brutalist-fg-muted relative 2xl:text-xl;
    }

    ul {
        @apply relative;
    }

    h1 {
        @apply text-4xl font-black uppercase my-7;
    }

    h2 {
        @apply dark:text-brutalist-bg text-brutalist-fg text-3xl my-5 mb-8 font-black uppercase;
        font-size: clamp(1.4rem, 4vw, 2.65rem);
        line-height: clamp(1.4rem, 4vw, 2.65rem);
    }

    h3 {
        @apply text-xl font-bold dark:text-brutalist-fg-muted-dark my-3;
    }

    a {
        @apply text-brutalist-accent dark:text-brutalist-accent;
    }

    a:focus,
    button:focus,
    .focus-reset:focus {
        @apply ring-0 outline-none border-brutalist-accent;
    }

    li::marker {
        @apply text-brutalist-accent;
    }
}

@layer utilities {
    .content {
        @apply bp-max-480:mx-6 bp-max-768:mx-14 bp-max-1080:mx-[6.25rem] mx-36 max-w-[1000px] mx-auto;
    }

    .color-red {
        color: #C62828;
    }

    .h-header {
        height: var(--header-height);
    }

    .h-header-scroll {
        height: var(--header-height-scroll);
    }

    .h-w-header-scroll {
        height: var(--header-height-scroll);
        width: var(--header-height-scroll);
    }

    .h-body {
        height: var(--body-height);
    }

    .top-header-scroll {
        top: var(--header-height-scroll);
    }

    .top-header {
        top: var(--header-height);
    }

    .pt-header-height {
        padding-top: var(--header-height);
    }

    .min-h-1\/3vh {
        min-height: max(33.3vh, 300px);
    }

    .text-highlight {
        @apply relative no-underline focus:ring-0 group-focus:after:w-full group-hover:after:w-full;
    }

    .text-highlight::after {
        @apply inline-block content-[""] absolute left-0 bottom-0 h-[1px] w-0 bg-brutalist-accent transition-all ease-in-out;
    }

    .text-highlight:focus::after,
    .text-highlight:hover::after {
        @apply w-full;
    }
}
